<!-- Put your HTML here -->
<html lang=”en” xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<!--navbar-->
<title>Register page</title>

<body>
<nav th:replace="fragments/topnav :: navbar"></nav>

<h1>Register here</h1>
<form th:action="@{/register}" th:object="${registerd}" method="post">
    <label for="userName">userName</label>
    <input type="text" id="userName" name="userName" autofocus="autofocus" required/>
    <br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required/>
    <br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>